{
  "app": {
    "guid": "bed543ce-d245-4750-9b1f-96da85f8a605"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "YmVkNTQzY2UtZDI0NS00NzUwLTliMWYtOTZkYTg1ZjhhNjA1",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "Token"
  }
}